<div>
    <div class="div-table divContainer" style="margin-top: 50px">
        <div class="table-responsive">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default"><a href="#!/editPatient/0">新增</a></button>
                <input type="button" class="btn btn-sm btn-default" ng-disabled="checked.length==0" value="删除"
                       ng-click="deleteCasehistory()">
            </div>
            <div class="btn-group group-search">
                <input type="text"class="form-control" placeholder="搜索">
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        <label>
                            <input title="全选" type="checkbox" ng-model="select_all"
                                   ng-change="selectAll()">
                        </label>
                    </th>
                    <th>编号</th>
                    <th>患者姓名</th>
                    <th>部门</th>
                    <th>主治医师</th>
                    <th>病历状态</th>
                    <th>更新日期</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ch in casehistoryList" class="{{ch.checked?'tractive':''}}">
                    <td title="选择">
                        <label>
                            <input ng-value="{{ch.id}}" ng-model="ch.checked"
                                   ng-change="selectOne()" type="checkbox">
                        </label>
                    </td>
                    <td>{{ch.id}}</td>
                    <td><a href="#!/editPatient/{{ch.patientID}}" title="点击查看详情">{{ch.patientName}}</a></td>
                    <td>{{ch.deptName}}</td>
                    <td>{{ch.doctorName}}</td>
                    <td>{{ch.status==0?"正常":"作废"}}</td>
                    <td>{{ch.submitTime}}</td>
                </tr>
                <tr ng-if="casehistoryList==0">
                    <td colspan="7">暂无数据！</td>
                </tr>
                </tbody>
            </table>
            <div class="table-bottom-bar" ng-show="casehistoryList.length>0">记录数：{{casehistoryList.length}}</div>
        </div>
    </div>
</div>
