<div class="div-table divContainer" style="margin-top: 60px">
    <div class="table-responsive">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-default"><a href="#!/editPatient/0">新增</a></button>
            <input type="button" class="btn btn-sm btn-default" value="删除" ng-click="deletePatient()"
                   ng-disabled="checked.length==0">
        </div>
        <div class="btn-group btn-group-search">
            <input type="text" class="form-control input-sm" title="请输入姓名或床位号或科室名称" placeholder="请输入姓名或床位号或科室名称" ng-model="keyword"
                   ng-keydown="searchPatient($event)">
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>
                    <label>
                        <input title="全选" type="checkbox" ng-model="select_all"
                               ng-change="selectAll()">
                    </label>
                </th>
                <th>编号</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>科室</th>
                <th>优先级</th>
                <th>住院日期</th>
                <th>床位号</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="patient in patientList" title="患者状态：{{getOutHospitalTitle(patient.patient_status)}}" class="{{patient.checked?'tractive':''}} {{patient.patient_status>=1?'out-hospital':''}}">
                <td title="选择">
                    <label>
                        <input ng-value="{{patient.id}}" ng-model="patient.checked"
                               ng-change="selectOne()" type="checkbox">
                    </label>
                </td>
                <td>{{patient.id}}</td>
                <td><a href="#!/editPatient/{{patient.id}}" title="点击查看详情">{{patient.name}}</a></td>
                <td>{{patient.age}}</td>
                <td>{{patient.gender>0?"女":"男"}}</td>
                <td>{{patient.deptName}}</td>
                <td>{{patient.level}}</td>
                <td>{{patient.in_hospital_date+"~"+patient.out_hospital_date}}</td>
                <td>{{patient.bedNo}}</td>
            </tr>
            <tr ng-if="patientList==0">
                <td colspan="9">暂无数据！</td>
            </tr>
            </tbody>
        </table>
        <div class="table-bottom-bar" ng-show="patientList.length>0">
            <span>记录数：{{patientList.length}}</span>
            <span>未分配床位患者：{{no_bed}}</span>
            <span>出院人数：{{outCount}}</span>
        </div>
    </div>
</div>
</div>
