<div class="container">
    <form class="form-horizontal" role="form" ng-submit="updatePatientInfo(patient,casehistory)">
        <div class="text-center"><h3>{{title}}</h3></div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">姓名</label>
            <div class="col-sm-10">
                <input class="form-control" ng-model="patient.name" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">年龄</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" ng-model="patient.age" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">性别</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="patient.gender"
                        ng-options="option.value as option.name for option in gender" required>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label required">科室信息</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="patient.deptNo" required ng-change="getDocByDept(this)">
                    <option value="{{dept.ID}}" ng-repeat="dept in deptlist" ng-selected="patient.deptNo==dept.ID">
                        {{dept.deptName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">优先级</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="patient.level" required>
                    <option value="1" ng-selected="patient.level==1">1</option>
                    <option value="2" ng-selected="patient.level==2">2</option>
                    <option value="3" ng-selected="patient.level==3">3</option>
                    <option value="4" ng-selected="patient.level==4">4</option>
                    <option value="5" ng-selected="patient.level==5">5</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">入院日期</label>
            <div class="col-sm-10 ">
                <input type="text" ng-model="patient.in_hospital_date" class="form-control" id="inhospital">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">出院日期</label>
            <div class="col-sm-10">
                <input type="text" ng-model="patient.out_hospital_date" class="form-control" id="outhospital">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">床位号</label>
            <div class="col-sm-10">
                <!--  <input type="text" class="form-control" ng-model="patient.bedNo">-->
                <div class="input-group">
                    <input class="form-control" ng-model="patient.bedNo" readonly>
                    <span class="input-group-btn">
		                <input type="button" class="btn btn-primary" ng-click="findBed(patient)"
                               ng-disabled="patient.bedNo" value="分配">
		            </span>
                </div>
                <div ng-show="msg" class="{{cls}}">{{msg}}</div>
                <table ng-if="lateOutHospitalPatent" class="table table-condensed">
                    <caption>即将出院患者信息</caption>
                    <thead>
                    <tr>
                        <th>患者</th>
                        <th>床位</th>
                        <th>出院日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="patient in lateOutHospitalPatent">
                        <td>{{patient.name}}</td>
                        <td>{{patient.bedNo}}</td>
                        <td>{{patient.out_hospital_date}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-include="'/patient/casehistory_edit.html'"></div>
        <div class="form-group">
            <div class="col-sm-12 text-center">
                <input type="button" value="返回" class="btn btn-default" onclick="history.back()">
                <a ng-show="{{patientID>0}}" href="#!/editPatient/0" class="btn btn-default">新增</a>
                <input type="submit" value="提交" class="btn btn-primary">
            </div>
        </div>
    </form>

</div>
<script src="/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="/lib/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<link rel="stylesheet" href="lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
<script>
    $(function () {
        $('#inhospital,#outhospital').datetimepicker({
            language: 'zh-CN', //语言类型
            weekStart: 1,//一周从哪一天开始
            todayBtn: 1, // 当天日期按钮``
            autoclose: 1,//选完时间后是否自动关闭
            todayHighlight: 1,//当天日期高亮
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            maxView: 4, //最高显示到年份
            minView: 2, //最低显示到日
            format: 'yyyy-mm-dd',//时间格式
        });
    });


</script>
