<style>
    .dept-container-left {
        background: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        min-height: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .dept-container-right {
        position: absolute;
        top: 60px;
        right: 0;
        min-height: 100%;
        padding: 0;
        height: auto;
    }

    .nav-pills > li > a:focus {
        color: #0084ff;
    }

    #nav-pills-sub .active {
        color: #fff;
        background: #0084ff;
    }

    .ul-beds li {
        list-style: none;
        float: left;
        width: 95px;
        height: 95px;
        margin: 15px 15px;
        background-size: 100%;
        cursor: pointer;
        border: 1px solid #999;
    }

    .ul-beds-title {
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
        color: #fff;
        background:#0084ff
    }

    .ul-beds-icon .fa-user {
        font-size: 30px;
        margin: 0;
    }
    .ul-beds-icon .bed-no{
        font-size: 16px;
    }
    .ul-beds-icon {
        text-align: center;
        padding: 5px;
        font-weight:bold;
    }

    .ul-beds-icon:hover {
        background: #ddd;
    }

    /*正常*/
    .ul-beds-icon .status0 {
        color: #008000;
    }

    /*占用*/
    .ul-beds-icon .status1 {
        color: #ff0000;
    }

    /*维修*/
    .ul-beds-icon .status2 {
        color: #777;
    }

    .div-modal {
        transition: all linear 0.3s;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 1050;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;
        background: rgba(0, 0, 0, .5);
    }

    .ng-hide {
        height: 0;
        width: 0;
        background-color: transparent;
        top: -200px;
        left: 50%;
    }

    @media (min-width: 768px) {
        .modal-dialog {
            width: 50%;
            margin: 30px auto
        }
    }

    .bed-no a {
        color: #0084ff;
        text-decoration: none;
        font-size: 18px;
        display: block;
        height: 32px;
        line-height:32px
    }

    .ul-beds-icon .man{
        color: #0084ff
    }

    .ul-beds-icon .woman{
        color: deeppink;
    }

</style>
<div class="">
    <div class="col-md-2 col-sm-2 col-xs-6 dept-container-left">
        <div class="divContainer">
            <ul class="nav nav-pills nav-stacked nav-left-li" id="nav-pills-sub">
                <li ng-repeat="dept in deptlist"
                    title="编号：{{dept.ID}}&#10;床位总数：{{dept.totalBeds}}&#10;病房数：{{dept.romms}}&#10;外借优先级：{{dept.borrowLevel}}">
                    <a ng-class="{{dept.ID==deptNo?'active':''}}" href="#!/hospitalizedlist/2/{{dept.ID}}">
                        <i class="fa fa-university" aria-hidden="true"></i>{{dept.deptName}}
                    </a>
                </li>
            </ul>
            <div class="list-bottom-bar" ng-show="deptlist.length>0">记录数：{{deptlist.length}}</div>
        </div>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-6 dept-container-right">

        <div class="div-table divContainer">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>主治医师</th>
                        <th>科室</th>
                        <th>优先级</th>
                        <th>住院日期</th>
                        <th>床位号</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="patient in paientList" title="{{getOutHospitalTitle(patient.patient_status)}}" class="{{patient.patient_status>=1?'out-hospital':''}}">
                        <td>{{patient.id}}</td>
                        <td><a href="#!/edithospitalized/{{patient.bedNo}}" title="点击查看详情">{{patient.patientName}}</a></td>
                        <td>{{patient.gender>0?"女":"男"}}</td>
                        <td>{{patient.doctorName}}</td>
                        <td>{{patient.deptName}}</td>
                        <td>{{patient.level}}</td>
                        <td>{{patient.in_hospital_date+"~"+patient.out_hospital_date}}</td>
                        <td>{{patient.bedNo}}</td>
                    </tr>
                    <tr ng-if="paientList==0">
                        <td colspan="8">暂无数据！</td>
                    </tr>
                    </tbody>
                </table>
                <div class="table-bottom-bar" ng-show="paientList.length>0">
                    <span>记录数：{{paientList.length}}</span>
                    <span>在院人数：{{inCount}}</span>
                    <span>出院人数：{{outCount}}</span>
                </div>
            </div>
        </div>

        <!--<div class="divContainer">
            <div>
                <ul class="ul-beds">
                    <li ng-repeat="patient in paientList" class="{{patient.patient_status==1?'out-hospital':''}}"
                        title="病床编号：{{patient.bedNo}}&#10;患者姓名：{{patient.patientName}}&#10;住院日期：{{patient.in_hospital_date}}&#10;出院日期：{{patient.out_hospital_date}}&#10;患者状态：{{patient.patient_status==1?'已出院':'在院'}}"
                        ng-click="showModal()">
                        <div class="ul-beds-icon">
                            <div class="ul-beds-title">
                                {{patient.bedNo}}
                            </div>
                            <i class="fa fa-user {{patient.gender>0?'woman':'man'}} status{{patient.status}}"></i>
                            <div class="bed-no">
                                <a href="#!/edithospitalized/{{patient.bedNo}}">{{patient.patientName}}</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="table-bottom-bar" style="float: left;display: inline-block;width: 100%;margin-top: 50px;"
                 ng-show="paientList.length>0">
                <span>记录数：{{paientList.length}}</span>
                <span>在院人数：{{inCount}}</span>
                <span>出院人数：{{outCount}}</span>
            </div>
        </div>-->

    </div>
</div>
