<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据可视化demo</title>
    <link href="../styles/common.css" rel="stylesheet">
    <script src="../scripts/Plugin/jquery-3.3.1.min.js"></script>
    <script src="../scripts/echarts.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script src="../scripts/index.js"></script>
</head>
<body>
<!--顶部-->
<header class="header left">
    <div class="left nav">
        <ul style="visibility: hidden">
            <li><i class="nav_1"></i><a href="index.html">采集概况</a></li>
            <li class=""><i class="nav_3"></i><a href="trend.html">趋势分析</a></li>
        </ul>
    </div>
    <div class="header_center left" style="position:relative">

        <h2><strong>大数据展示</strong></h2>

    </div>
    <div class="right nav text_right">
        <ul>

        </ul>
    </div>

</header>
<!--内容部分-->
<!--数据总概-->
<div class="con_div">
    <div class="con_div_text left" style="width: 48%;">
        <div class="con_div_text01 left">
            <img src="../images/info_3.png" class="left text01_img"/>
            <div class="left text01_div">
                <p>总门诊数(人)</p>
                <p class="sky" id="count_zmzrs"></p>
            </div>
        </div>
        <div class="con_div_text01 right">
            <img src="../images/info_4.png" class="left text01_img"/>
            <div class="left text01_div">
                <p>当月门诊数(人)</p>
                <p class="sky" id="count_dymzrs"></p>
            </div>
        </div>
    </div>
    <div class="con_div_text left" style="width: 49%;">

        <div class="con_div_text01 left">
            <img src="../images/info_5.png" class="left text01_img"/>
            <div class="left text01_div">
                <p>总住院数(人)</p>
                <p class="org" id="count_zzyrs"></p>
            </div>
        </div>
        <div class="con_div_text01 right">
            <img src="../images/info_6.png" class="left text01_img"/>
            <div class="left text01_div">
                <p>当月住院数(人)</p>
                <p class="org" id="count_dyzyrs">12356</p>
            </div>
        </div>
    </div>
</div>
<div class="con left" style="width:50%;">
    <!--统计分析图-->
    <div class="div_any">
        <div class="left div_any01" style="width:100%;">
            <div class="div_any_child" style="width:98%;position:relative;height: 420px;">
                <div class="div_any_title"><img src="../images/title_13.png">主要传染病</div>
                <div id="histogramChart1"
                     style="width: 45%;display: inline-block;height: 400px;margin-top: 15px;"></div>
                <div id="lineChart1" style="width: 52%;height: 66%;display: inline-block;"></div>
                <div style="width: 50%;height: 20%;display: inline-block;color:red;position: absolute;right: 2%;top: 8%;">
                    <div style="display: inline-block;width:33%;text-align:center;">
                        <div style="color:#fff;font-size: 18px;line-height: 32px;">病例报告数</div>
                        <div style="color:#87cefa;font-size: 30px;line-height: 42px;" id="count_blbgs"></div>
                    </div>
                    <div style="display: inline-block;width:33%;text-align:center;">
                        <div style="color:#fff;font-size: 18px;line-height: 32px;">死亡数</div>
                        <div style="color:red;font-size: 30px;line-height: 42px;" id="count_swrs">26</div>
                    </div>
                    <div style="display: inline-block;width:33%;text-align:center;">
                        <div style="color:#fff;font-size: 18px;line-height: 32px;"></div>
                        <div style="color:#ff7f50;font-size: 30px;line-height: 42px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="left div_any01" style="width:48%;">
            <div class="div_any_child" style="height: 420px;">
                <div class="div_any_title"><img src="../images/title_14.png">主要症状</div>
                <p id="histogramChart2" class="p_chart" style="height: 400px;"></p>

            </div>
        </div>
        <div class="left div_table_box" style="width: 48%;">
            <div class="div_any_child" style="height: 420px;">

                <div class="div_any_title"><img src="../images/title_4.png">就诊人数(当日)</div>
                <p id="lineChart_2" class="p_chart"></p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="con right" style="width:50%;">
    <div class="div_any">
        <div class="left div_any01" style="width:100%;">
            <div class="div_any_child" style="width:98%;position:relative;height: 420px;">
                <div class="div_any_title"><img src="../images/title_17.png">主要疾病排行</div>
                <div id="histogramChart3"
                     style="width: 45%;display: inline-block;height: 400px;margin-top: 15px;"></div>
                <div id="lineChart2" style="width: 52%;height: 90%;display: inline-block;"></div>
            </div>
        </div>
        <div class="left div_any01" style="width:48%;">
            <div class="div_any_child" style="height: 420px;">
                <div class="div_any_title"><img src="../images/title_18.png">年龄分布</div>
                <p id="pieChart1" class="p_chart" style="height: 400px;"></p>
            </div>
        </div>
        <div class="right div_any01" style="width:48%;">
            <div class="div_any_child" style="height: 420px;">
                <div class="div_any_title"><img src="../images/title_19.png">性别分布</div>
                <p id="pieChart2" class="p_chart" style="height: 400px;"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
