<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graduation.project.hospitalbedsmanage.mapper.DoctorMapper">

    <select id="login" resultType="graduation.project.hospitalbedsmanage.entity.Doctor">
        select * FROM doctor where (mobile =#{name} and password=#{password})
        or
        ( email =#{name} and password=#{password}) limit 1
    </select>

    <select id="getUserInfoById" resultType="graduation.project.hospitalbedsmanage.entity.Doctor">
        select * FROM doctor where id = #{id}
    </select>

    <select id="getUserInfo" resultType="graduation.project.hospitalbedsmanage.entity.Doctor">
        select * FROM doctor where mobile = #{mobile} or email = #{email} limit 1
    </select>

    <select id="getUserInfoByPassword" resultType="graduation.project.hospitalbedsmanage.entity.Doctor">
        select * FROM doctor where id=#{id} and password=#{password} limit 1
    </select>

    <select id="getUserInfoByLoginName" resultType="HashMap">
        select ID from doctor where  <![CDATA[ id <> #{id} ]]> and( mobile = #{mobile} or email = #{email})
    </select>

    <select id="getDoctorByDeptNo" resultType="HashMap">
        select doctor.id, name, age, gender, deptno, job, mobile, email,department.deptName FROM doctor left join department on doctor.deptno=department.ID
        <if test="deptNo gt 0">
         where deptno=#{deptNo}
        </if>
    </select>

    <insert id="register" parameterType="graduation.project.hospitalbedsmanage.entity.Doctor">
       insert into doctor(name, password,mobile,email) values ( #{name}, #{password}, #{mobile}, #{email})
    </insert>

    <update id="updateUserInfo" parameterType="graduation.project.hospitalbedsmanage.entity.Doctor">
        update doctor set name=#{name},age=#{age},gender=#{gender},mobile=#{mobile},email=#{email} where id=#{id}
    </update>

    <update id="updatePassword" parameterType="graduation.project.hospitalbedsmanage.entity.Doctor">
        update doctor set password=#{password} where id=#{id}
    </update>
</mapper>
