<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>后台管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <script src="/js/jquery-1.9.1.min.js"></script>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
    <script src="/js/angular-1.7.0.min.js"></script>
    <script src="/js/angular-route-1.7.0.min.js"></script>
    <script src="/js/angular-resource-1.7.9.js"></script>
    <script src="/js/angular-animate-1.7.0.min.js"></script>
    <link href="/css/index.css" rel="stylesheet">

    <script type="text/javascript" src="/js/index.js" charset="utf-8"></script>
</head>
<body ng-app="myApp" class="ng-scope" ng-controller="indexController">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-10 logo-title">
            <img src="/images/logo.png">
            <span>人民医院信息化管理系统</span>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-4 container-left">
            <div class="divContainer">
                <div class="nav-bar-left-top">

                </div>
                <ul class="nav nav-pills nav-stacked nav-left-li" id="menu">
                    <li ng-repeat="m in menu">
                        <a href="#!{{m.url}}/{{m.id}}/0" class="{{ntype==m.id?'nactive':''}}">
                            <i class="{{m.fa}}" aria-hidden="true"></i>{{m.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-right col-md-10 col-sm-10 col-xs-8">
            <div class="nav-bar-right col-sm-12 text-right">
                <!-- <div class="col-sm-2 hidden-xs"></div>
                 <div class="nav-bar-right-search col-sm-9 col-xs-12">
                     <div class="input-group">
                         <input type="text" class="form-control" placeholder="搜索" ng-model="keyword"
                                ng-keydown="search($event)">
                         <span class="input-group-btn"><input type="button" class="btn btn-info" value="搜索"></span>
                     </div>
                 </div>-->
                <div class="nav-icon-bar">
                           <span ng-if="user.id>0" class="{{ntype==0?'nactive':''}}">
                               <span class="icon-bar-username">{{user.name}}</span>
                               <span class="icon_bar">
                                  <a href="#!/userInfo/0">
                                      <i title="完善个人信息" class="fa fa-cog" aria-hidden="true"></i>
                                  </a>
                                   <i class="fa fa-power-off" title="注销登录" aria-hidden="true"
                                      ng-click="logout()"></i>
                                  </span>
                           </span>
                    <span ng-if="!user.id">
                              <a href="/user/logout">
                                  <i title="登录" class="fa fa-user-o" aria-hidden="true"></i>
                               </a>
                             </span>
                </div>
            </div>
            <div ng-view=""></div>
        </div>
    </div>
</div>
</body>
</html>
