<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>后台管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <script src="/js/jquery-1.9.1.min.js"></script>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
    <script src="/js/angular-1.7.0.min.js"></script>
    <script src="/js/angular-route-1.7.0.min.js"></script>
    <script src="/js/angular-resource-1.7.9.js"></script>
    <script src="/js/angular-animate-1.7.0.min.js"></script>
    <link href="/css/index.css" rel="stylesheet">

    <script type="text/javascript" src="/js/index.js" charset="utf-8"></script>
</head>

<body ng-app="myApp" class="ng-scope" ng-controller="indexController">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-6 container-left">
            <div class="divContainer">
                <div class="nav-bar-left-top"><span class="{{ntype==0?'nactive':''}}"><a title="点击完善个人信息"
                                                                                         href="#!/userInfo/{{user.id}}">{{user.name}}</a></span>
                </div>
                <ul class="nav nav-pills nav-stacked nav-left-li" id="menu">
                    <li ng-repeat="m in menu">
                        <a href="#!{{m.url}}/{{m.id}}/0" class="{{ntype==m.id?'nactive':''}}">
                            <i class="{{m.fa}}" aria-hidden="true"></i>{{m.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-right col-md-10 col-sm-10 col-xs-6">
            <div class="nav-bar-right col-sm-12 text-center">
                <div class="nav-bar-right-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜索" ng-model="keyword"
                               ng-keydown="search($event)">
                        <span class="input-group-btn"><input type="button" class="btn btn-info" value="搜索"></span>
                    </div>
                </div>
                <div class="nav-bar-right-logout">
                    <input ng-if="user.id>0" type="button" class="btn btn-default" ng-click="logout()"
                           value="退出" title="退出登录">
                    <span ng-if="!user.id" class="btn btn-default"><a href="/user/logout">登录</a></span>
                </div>
            </div>
            <div ng-view=""></div>
        </div>
    </div>
</div>
</body>
</html>
