<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>病人信息</title>
    <link href="/lib/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <script src="/lib/bootstrap-table/bootstrap-table.js"></script>
</head>
<body>
<div class="divContainer">
 <div class="text-center"><h1>患者管理</h1></div>
 <div>
 <div class="div-table container">
     <div class="div_search">
         <div class="div-insert">
             <input type="button" class="btn btn-primary" value="新增" class="btn-insert"/>
         </div>
         <div class="div_name">
             <span class="text">姓名:</span>
         </div>
         <div>
             <input type="text" class="form-control" value=""  placeholder="请输入姓名" id="name"/>
         </div>
         <div class="div-deptNo">
             <span class="text">科室:</span>
         </div>
         <div>
             <input type="text" class="form-control" value=""  placeholder="请输入科室" id="deptNo"/>
         </div>
         <div class="div-bedNo">
             <span class="text">床位号:</span>
         </div>
         <div>
             <input type="text" class="form-control" value=""  placeholder="请输入床位号" id="bedNo"/>
         </div>
         <div class="div-starttime">
             <span class="text">入院时间:</span>
         </div>
         <div>
             <input type="text" class="form-control" value=""  placeholder="请输入入院时间" id="in_hospital_date"/>
         </div>
         <div class="div-searchnum">
             <input type="button" class="btn btn-primary" value="查询" class="btn-search" onclick="search()"/>
         </div>
     </div>
     <table id="fourTableList">
     </table>
 </div>
 </div>
</div>
<script>
    var parmas = $(window).width() > 1050? "width=1050,height=650":"width=100%,height=100%";
    var select_row = null;
    $(function () {
        var table = $("#fourTableList").bootstrapTable({
            url: '/patientinfo/patientsearch',         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            toolbar: '',                //工具按钮用哪个容器
            //queryParams: oTableInit.queryParams,			  //添加筛选数据
            striped: true,                      //是否显示行间隔色
            uniqueId: "id",			  //每一行的唯一标识，一般为主键列
            sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
            pagination: true,                   //是否显示分页（*）
            sortable: true,                     //是否启用排序
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            sortOrder: "asc",                   //排序方式
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 15,                       //每页的记录行数（*）
            pageList: [10, 15, 25, 50, 100],        //可供选择的每页的行数（*）
            strictSearch: false,
            showColumns: true,                  //是否显示所有的列
            //showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 1,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            columns: [  {
                field: 'id',
                title: '编号',
            }, {
                field: 'name',
                title: '姓名',
            }, {
                field: 'age',
                title: '年龄',
            },{
                field: 'gender',
                title: '性别',
            },{
                field: 'deptNo',
                title: '科室'

            }, {
                field: 'level',
                title: '初始化优先级'

            },{
                field: 'bedNo',
                title: '床位号'

            },{
                field: 'in_hospital_date',
                title: '入院日期'

            },{
                field: 'out_hospital_date',
                title: '出院日期'

            },{
                field: 'id',
                title: '操作',
                formatter: function(value, row, index) {
                    var str ="<div><input type='button' class='btn btn-primary' value='修改'/><input type='button' class='btn btn-primary' value='删除'/></div>";
                    return str;
                }
            }],
        });
    });

    $(".fixed-table-toolbar").html("");

    function search(){
        var url="/patientinfo/patientsearch";
        var name = $("#name").val();
        var deptNo = $("#deptNo").val();
        var bedNo = $("#bedNo").val();
        var in_hospital_date = $("#in_hospital_date").val();
        $.get(url,{"name":name,"deptNo":deptNo,"bedNo":bedNo,"in_hospital_date":in_hospital_date},function(data){
            alert(data);
                $("#thirdTableList").bootstrapTable('refresh', {url: "/patientinfo/patientsearch?name=" + name + "&deptNo=" + deptNo + "&bedNo=" + bedNo + "&in_hospital_date=" + in_hospital_date});
        });

    }
</script>
<style>
    .text-center{
        margin-top:100px;
    }
    .div_search{
        height:34px;
        line-height: 34px;
        margin-top:20px;
        margin-bottom: 20px;


    }
    .div_search div{
        float:left;
    }
    .div_name,.div-searchnum{
        margin-left:10px;
    }
    .div-insert,.div-searchnum{
        margin-top:-1px;
    }
    .text{
        font-size: 16px;
    }
</style>
</body>
</html>
