<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
    <script src="/js/angular-1.7.0.min.js"></script>
    <script src="/js/angular-route-1.7.0.min.js"></script>

</head>
<body>
<div class="divContainer">
    患者管理

</div>
<script>

</script>
</body>
</html>
