<style>
    .dept-container-left {
        background: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        min-height: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .dept-container-right {
        position: absolute;
        top: 60px;
        right: 0;
        min-height: 100%;
        padding: 0;
        height: auto;
    }

    .nav-pills > li > a:focus {
        color: #0084ff;
    }

    #nav-pills-sub .active {
        color: #fff;
        background: #0084ff;
    }


</style>
<div class="">
    <div class="col-md-2 col-sm-2 col-xs-6 dept-container-left">
        <div class="divContainer">
            <ul class="nav nav-pills nav-stacked nav-left-li" id="nav-pills-sub">
                <li ng-repeat="dept in deptlist" title="编号：{{dept.ID}}&#10;床位总数：{{dept.totalBeds}}&#10;病房数：{{dept.romms}}&#10;外借优先级：{{dept.borrowLevel}}">
                    <a ng-class="{{dept.ID==deptNo?'active':''}}" href="#!/departmentlist/3/{{dept.ID}}">
                        <i class="fa fa-university" aria-hidden="true"></i>{{dept.deptName}}
                    </a>
                </li>
            </ul>
            <div class="list-bottom-bar" ng-show="deptlist.length>0">记录数：{{deptlist.length}}</div>
        </div>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-6 dept-container-right">
        <div class="div-table divContainer">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>科室</th>
                        <th>职务</th>
                        <th>电话</th>
                        <th>邮箱</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="doc in doctorsList" class="{{selectDoc?'tractive':''}}">
                        <td title>
                            {{doc.id}}
                        </td>
                        <td>{{doc.name}}</td>
                        <td>{{doc.gender>0?"女":"男"}}</td>
                        <td>{{doc.deptName}}</td>
                        <td>{{doc.jobname}}</td>
                        <td>{{doc.mobile}}</td>
                        <td>{{doc.email}}</td>
                    </tr>
                    <tr ng-if="doctorsList==0">
                        <td colspan="8">暂无数据！</td>
                    </tr>
                    </tbody>
                </table>
                <div class="table-bottom-bar" ng-show="doctorsList.length>0">记录数：{{doctorsList.length}}</div>
            </div>
        </div>
    </div>
</div>
