<style>
    .dept-container-left {
        background: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        min-height: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .dept-container-right {
        position: absolute;
        top: 60px;
        right: 0;
        min-height: 100%;
        padding: 0;
        height: auto;
    }

    .nav-pills > li > a:focus {
        color: #0084ff;
    }

    #nav-pills-sub .active {
        color: #fff;
        background: #0084ff;
    }

    .ul-beds li {
        list-style: none;
        float: left;
        width: 85px;
        height: 85px;
        margin: 15px 15px;
        background-size: 100%;
        cursor: pointer;
        border: 1px solid #999;
    }

    .ul-beds-title {
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
    }

    .ul-beds-icon .fa-bed {
        font-size: 48px;
        margin: 0;
    }

    .ul-beds-icon {
        text-align: center;
        padding: 5px;
        font-weight:bold;
    }

    .ul-beds-icon:hover {
        background: #ddd;
    }

    /*正常*/
    .ul-beds-icon .status0 {
        color: #008000;
    }

    /*占用*/
    .ul-beds-icon .status1 {
        color: #ff0000;
    }

    /*维修*/
    .ul-beds-icon .status2 {
        color: #777;
    }

    .div-modal {
        transition: all linear 0.3s;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 1050;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;
        background: rgba(0, 0, 0, .5);
    }

    .ng-hide {
        height: 0;
        width: 0;
        background-color: transparent;
        top: -200px;
        left: 50%;
    }

    @media (min-width: 768px) {
        .modal-dialog {
            width: 50%;
            margin: 30px auto
        }
    }

    .ul-beds-title a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        display: block;
        margin-bottom: 3px;
        background:#0084ff
    }

    .close {
        font-size: 14px;
        opacity: 0;
    }

    .ul-beds li:hover .close {
        opacity: 1;
        color: #ff0000;
    }
</style>
<div class="">
    <div class="col-md-2 col-sm-2 col-xs-6 dept-container-left">
        <div class="divContainer">
            <div class="alert alert-warning" ng-show="deptlist.length==00" style="margin: 10px">暂无部门数据</div>

            <ul class="nav nav-pills nav-stacked nav-left-li" id="nav-pills-sub">
                <li ng-repeat="dept in deptlist"
                    title="编号：{{dept.ID}}&#10;床位总数：{{dept.totalBeds}}&#10;病房数：{{dept.romms}}&#10;外借优先级：{{dept.borrowLevel}}">
                    <a ng-class="{{dept.ID==deptNo?'active':''}}" href="#!/bedslist/6/{{dept.ID}}">
                        <i class="fa fa-university" aria-hidden="true"></i>{{dept.deptName}}
                    </a>
                </li>
            </ul>
            <div class="list-bottom-bar" ng-show="deptlist.length>0">记录数：{{deptlist.length}}</div>
        </div>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-6 dept-container-right">
        <div class="divContainer">
            <div>
                <div class="alert alert-warning" ng-show="bedList.length==00" style="margin: 10px">暂无病床数据</div>

                <ul class="ul-beds">
                    <li ng-repeat="bed in bedList"
                        title="病床编号：{{bed.bedNo}}&#10;床位名称：{{bed.address}}&#10;病床状态：{{getStatusTitle(bed.status)}}&#10;患者姓名：{{bed.patientName}}&#10;使用日期：{{bed.useDate}}&#10;归还日期：{{bed.freeDate}}"
                        ng-click="showModal()">
                        <span title="删除" class="close" data-dismiss="modal" aria-hidden="true"
                              ng-click="deleteBed(bed)">×</span>
                        <div class="ul-beds-icon">
                            <div class="ul-beds-title">
                                <a href="#!/editbeds/{{bed.deptNo}}/{{bed.bedNo}}">{{bed.bedNo}}</a>
                            </div>
                            <i class="fa fa-bed status{{bed.status}}"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="table-bottom-bar" style="float: left;display: inline-block;width: 100%;margin-top: 60px;"
                 ng-show="bedList.length>0">
                <span>记录数：{{bedList.length}}</span>
                <span>空闲：{{freeCount}}</span>
                <span>占用：{{useCount}}</span>
                <span>维修：{{serviceCount}}</span>
                <span>使用率：{{useCount/bedList.length*100 | number : 2}}%</span>
            </div>

        </div>

    </div>
</div>
