<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graduation.project.hospitalbedsmanage.mapper.BedsMapper">
    <select id="getBedsRooms" resultType="graduation.project.hospitalbedsmanage.entity.Department">
        select id,totalBeds,rooms from department where totalBeds>0 order by id
    </select>

    <select id="getBed" resultType="HashMap">
        select beds.id,beds.deptNo, beds.patientID, beds.status, beds.address, beds.useDate, beds.freeDate, beds.bedNo,patient.name as patientName,department.deptName from beds left join patient on beds.patientID=patient.id left join department on beds.deptNo=department.ID where beds.deptNo=#{deptNo} and beds.bedNo=#{bedNo}
    </select>

    <select id="getBeds" resultType="HashMap">
        select beds.id,beds.deptNo, beds.patientID, beds.status, beds.address, beds.useDate, beds.freeDate, beds.bedNo,patient.name as patientName,department.deptName from beds left join patient on beds.patientID=patient.id left join department on beds.deptNo=department.ID
        <if test="deptNo gt 0">
            where beds.deptno=#{deptNo}
        </if>
    </select>

    <insert id="addBed">
        insert into beds(deptNo, address,bedNo) values (#{deptNo},#{address},#{bedNo})
    </insert>

    <update id="updateBedStatus">
        update beds set status=#{status} where bedNo =#{bedNo}
    </update>

    <delete id="deleteBed">
        delete from beds where deptNo=#{deptNo} and bedNo >#{bedNo}
    </delete>

    <delete id="deleteBedByBedNo">
        delete from beds where deptNo=#{deptNo} and bedNo = #{bedNo}
    </delete>

    <delete id="deleteBeds">
         delete from beds where bedNo not in (${bedNo})
    </delete>
</mapper>

