<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graduation.project.hospitalbedsmanage.mapper.BedsMapper">
    <select id="getBedsRooms" resultType="graduation.project.hospitalbedsmanage.entity.Department">
        select id,totalBeds,rooms from department where totalBeds>0 order by id
    </select>

    <select id="getBed" resultType="graduation.project.hospitalbedsmanage.entity.Beds">
        select * from beds where deptNo=#{deptNo} and bedNo=#{bedNo}
    </select>

    <select id="getBeds" resultType="HashMap">
        select deptNo, patientID, status, address, useDate, freeDate, bedNo,department.deptName from beds left join department on beds.deptNo=department.ID
        <if test="deptNo gt 0">
            where deptno=#{deptNo}
        </if>
    </select>

    <delete id="deleteBed">
        delete from beds where deptNo=#{deptNo} and bedNo >#{bedNo}
    </delete>
    <insert id="addBed">
        insert into beds(deptNo, address,bedNo) values (#{deptNo},#{address},#{bedNo})
    </insert>
</mapper>

