<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graduation.project.hospitalbedsmanage.mapper.CaseHistoryMapper">
    <select id="getCaseHistory" resultType="HashMap">
        select casehistory.id, patientID, casehistory.deptNo, doctorID, status, description, treatmentPlan, submitTime,patient.name as patientName,department.deptName,doctor.name as doctorName
        from casehistory
        inner join patient on casehistory.patientID=patient.id
        left join department on casehistory.deptNo=department.ID
        left join doctor on casehistory.doctorID=doctor.id
        <if test="patientID gt 0">
            where patientID=#{patientID}
        </if>
    </select>

    <select id="searchCasehistory" resultType="HashMap">
        select casehistory.id, patientID, casehistory.deptNo, doctorID, status, description, treatmentPlan, submitTime,patient.name as patientName,department.deptName,doctor.name as doctorName
        from casehistory
        left join patient on casehistory.patientID=patient.id
        left join department on casehistory.deptNo=department.ID
        left join doctor on casehistory.doctorID=doctor.id
       where patient.name like concat('%',#{keywords},'%') or doctor.name like concat('%',#{keywords},'%') or department.deptName like concat('%',#{keywords},'%') or submitTime like concat('%',#{keywords},'%')
    </select>

    <insert id="addCaseHistory">
        insert into casehistory (patientID, deptNo, doctorID, status, description, treatmentPlan, submitTime) VALUES (#{patientID},#{deptNo},#{doctorID},#{status},#{description},#{treatmentPlan},#{submitTime})
    </insert>

    <update id="updateCaseHistory">
        update casehistory set patientID=#{patientID},deptNo=#{deptNo},doctorID=#{doctorID},status=#{status},description=#{description},treatmentPlan=#{treatmentPlan},submitTime=#{submitTime} where id=#{id}
    </update>

    <delete id="deleteCaseHistory">
        delete from casehistory where id in ${caseHistoryID}
    </delete>
</mapper>
