<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graduation.project.hospitalbedsmanage.mapper.DoctorMapper">

    <select id="login" resultType="graduation.project.hospitalbedsmanage.entity.Doctor">
        select * FROM doctor
        where (mobile =#{name} and password=#{password})
        or
        ( email =#{name} and password=#{password}) limit 1
    </select>

    <select id="getUserInfoById" resultType="graduation.project.hospitalbedsmanage.entity.Doctor">
        select * FROM doctor where id = #{id}
    </select>

    <select id="getUserInfo" resultType="graduation.project.hospitalbedsmanage.entity.Doctor">
        select * FROM doctor where mobile = #{mobile} or email = #{email} limit 1
    </select>

    <select id="getUserInfoByPassword" resultType="graduation.project.hospitalbedsmanage.entity.Doctor">
        select * FROM doctor where id=#{id} and password=#{password} limit 1
    </select>

    <select id="getUserInfoByLoginName" resultType="HashMap">
        select ID from doctor
        where id &lt;&gt; #{userId} and (mobile = #{loginName} or email = #{loginName})
    </select>

    <select id="getDoctorByDeptNo" resultType="HashMap">
        select doctor.id, name, age, gender, deptno, jobname, mobile, email,department.deptName FROM doctor
        left join department on doctor.deptno=department.ID
        left join job on doctor.job=job.id
        <if test="deptNo gt 0">
            where deptno=#{deptNo}
        </if>
        order by deptno,doctor.id
    </select>

    <insert id="register" parameterType="graduation.project.hospitalbedsmanage.entity.Doctor">
       insert into doctor(name, password,mobile,email,age,gender,job,deptNo) values ( #{name}, #{password}, #{mobile}, #{email},#{age},#{gender},#{job},#{deptNo})
    </insert>

    <update id="updateUserInfo" parameterType="graduation.project.hospitalbedsmanage.entity.Doctor">
        update doctor set name=#{name},age=#{age},gender=#{gender},mobile=#{mobile},email=#{email}
        <if test="job != null and job != ''  and job !='0'">
            ,job=#{job}
        </if>
        <if test="deptNo != null and deptNo != ''">
            ,deptNo=#{deptNo}
        </if>
        where id=#{id}
    </update>

    <delete id="deleteUserInfo">
        delete from doctor where id in ${userID}
    </delete>

    <update id="updatePassword" parameterType="graduation.project.hospitalbedsmanage.entity.Doctor">
        update doctor set password=#{password} where id=#{id}
    </update>
</mapper>
