<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graduation.project.hospitalbedsmanage.mapper.PatientMapper">

    <select id="getPatientInFo" resultType="graduation.project.hospitalbedsmanage.entity.Patient">
        select *
        from patient
        where 1=1
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
        <if test="deptNo != null and deptNo != ''">
            and deptNo = #{deptNo}
        </if>
        <if test="bedNo != null and bedNo != ''">
            and bedNo = #{bedNo}
        </if>
        <if test="in_hospital_date != null and in_hospital_date != ''">
            and in_hospital_date = #{in_hospital_date}
        </if>
    </select>

    <select id="getPatientInfo" resultType="HashMap">
        select patient.id,name,age, gender, deptNo, level, bedNo, in_hospital_date,out_hospital_date,department.deptName
        from patient
        left join department on patient.deptNo=department.ID
        <if test="id &gt; 0">
            where patient.id=#{id}
        </if>
        order by level,in_hospital_date,patient.id
    </select>

    <select id="getSameDoctorForPatient" resultType="HashMap">
        select patient.id as patientID,patient.name,doctor.id as
        doctorID,doctor.name,patient.age,patient.gender,patient.level,beds.roomNo,patient.bedNo,patient.in_hospital_date,patient.out_hospital_date
        from patient
        left join casehistory on patient.id=casehistory.patientID
        left join doctor on casehistory.doctorID=doctor.id
        left join beds on patient.bedNo=beds.bedNo
        where DATE_FORMAT(patient.out_hospital_date,'%Y-%m-%d') >DATE_SUB(curdate(),INTERVAL 0 DAY)
        <if test="doctorID &gt; 0">
            and casehistory.doctorID=#{doctorID}
        </if>
    </select>

    <select id="getLateOutHospital">
        select patient.name,patient.level,patient.out_hospital_date
        from patient
        left join casehistory on patient.id = casehistory.patientID
        where DATE_FORMAT(patient.out_hospital_date,'%Y-%m-%d') > DATE_SUB(curdate(),INTERVAL 0 DAY)
        and casehistory.doctorID=#{doctorID} order by out_hospital_date limit 10
    </select>

    <insert id="addPatientInfo">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into patient (name,age, gender, deptNo, level, bedNo, in_hospital_date, out_hospital_date) values
        (#{name},#{age},#{gender},#{deptNo},#{level},#{bedNo},#{in_hospital_date},#{out_hospital_date})
    </insert>

    <update id="updatePatientInfo">
        update patient set name=#{name},age=#{age},gender=#{gender},deptNo=#{deptNo},level=#{level},bedNo=#{bedNo},in_hospital_date=#{in_hospital_date},out_hospital_date=#{out_hospital_date} where id=#{id}
    </update>

    <delete id="deletePatient">
        delete from patient where id in ${patientID}
    </delete>
</mapper>
